body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table {
    border: 2px solid black;
    width: 50%;
    background-color: aqua;
}

/* .table-header {
    color: black;
    font-weight: 500;
} */

td {
 border: 2px solid black;
}

#td-input {
}

td {
    text-align: center;
}

img {
    display: flex;
}